---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Gallery from '../components/Gallery.astro';
import FutureOrders from '../components/FutureOrders.astro';
---

<Layout title="Running Creek Sourdough | Artisan Bread">
	<main>
    <Hero 
      title="Running Creek Sourdough" 
      tagline="Traditional sourdough, handcrafted for your table." 
    />
    <About />
    <Gallery />
    <FutureOrders />
	</main>
</Layout>

<style>
</style>
